ul li {
    display:inline-block ;
} .box1{
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: beige;
    border: 10px solid greenyellow;
    margin: 30px;
    display: inline-block;
}